.app {
    text-align: center;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: black;
}

h1 {
    font-family: 'Playfair Display', serif;
}

.y-data {
    padding: 5px;
}

.glyphicon {
     margin-right: 5px;
}
.panel-body{
    min-height: 600px;
}
.panel-body img{
    margin:auto;
    max-height: 300px;
}