.app {
    text-align: center;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: black;
}

h1 {
    font-family: 'Playfair Display', serif;
}

.y-data {
    padding: 5px;
}

.glyphicon {
     margin-right: 5px;
}

/* --- SPLASH CONTENT ---  */
.splash-content {
    margin: 5px auto;
}

.splash-item > div {
    text-align: center;
    margin: 10px auto;
}

.splash-form {
    text-align: center
}


/* --- MEDIA QUERIES ---  */
@media (max-width: 400px) {
  .pugtato {
      width: 35rem;
      /* margin: 50px auto; */
  }
}